<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0fd3a26a-eeab-4cc5-86c7-b9a1566391b2" name="My test suite B" xmlns:con="http://eviware.com/soapui/config">
    <con:settings id="a8f2ecd2-74c2-4417-9846-be6825e9c2a1"><con:setting id="0fd3a26a-eeab-4cc5-86c7-b9a1566391b2fileName">My-test-suite-B</con:setting></con:settings>
    <con:runType>SEQUENTIAL</con:runType>
    
    
    <con:properties/>
    <con:reportParameters/>
  </con:testSuite>